@import "tailwindcss";
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.main-wrapper {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0b0b0f; /* hitam elegan */
  color: white;
}

